@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

.attribution{ 
    font-size: 11px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    margin-top: auto;
}
.attribution a{ 
    color: hsl(228, 45%, 44%);
}

html{
    height: 100%;
    width: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

body{
    background-color: hsl(217, 54%, 11%);
    height: 99%;
    display:flex; 
    flex-direction:column;
}

.container{
    width: 350px;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 10px;
    background-color: hsl(216, 50%, 16%);
    box-shadow: 5px 10px 50px 10px;
}

.image{
    width: 100%;
    display: block;
    justify-content: center;
    padding-top: 25px;
}

#nft-image{
    width: 300px;
    border-radius: 10px;
}

#title{
    color:hsl(0, 0%, 100%);
    text-align: justify;
    margin-left: 25px;
    font-weight: 600;
}

#title:hover{
    color: hsl(178, 100%, 50%);
}

#description{
    height: max-content;
    margin-left: 25px;
    color: hsl(215, 51%, 70%);
    font-weight: 400;
}

#eth{
    float: left;
    margin-left: 25px;
}

#price{
    float: left;
    margin: 0;
    margin-left: 5px;
    color: hsl(178, 100%, 50%);
    font-weight: 400;
}

#clock{
    float: left;
    margin-left: 100px;
    margin-top: 3px;
}

#timeleft{
    color: hsl(215, 51%, 70%);
    float: left;
    margin-left: 5px;
    margin-top: 0px;
    font-weight: 300;
}

hr{
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid hsl(215, 32%, 27%);
}

#avatar{
    width: 35px;
    border-radius: 100%;
    border: 1px solid;
    border-color: white;
    margin-top: 3%;
    margin-left: 25px;
    float: left;
}

#credits{
    float: left;
    margin-left: 15px;
    padding-bottom: 10px;
}

#credits{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

#name{
    color: hsl(0, 0%, 100%);
    font-weight: 300;
}

#name:hover{
    color: hsl(178, 100%, 50%);
}

#nft-image{
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.nft:hover #nft-image {
    opacity: 0.3;
}
  
  .nft:hover .middle {
    opacity: 1;
}

.nft{
    background-color: hsl(178, 100%, 50%);
    width: 300px;
    border-radius: 12px;
    margin-left: 25px;
}  